<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Miracle Box - IDE Musical</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    .hero-left {
      background: linear-gradient(to right, rgba(132, 187, 255, 0) 60%, var(--blue-shadow) 100%), 
                  url("{{ url_for('static', filename='images/fundo.png') }}") no-repeat center center;
      background-size: cover;
    }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Jersey+25&display=swap" rel="stylesheet">
</head>
<body class="home-body">

  <div class="landing-container">
    
<div class="hero-left" >
      <div class="logo-wrapper">
        <img src="{{ url_for('static', filename='images/logo_mrcb.png') }}" alt="Miracle Box Logo" class="main-logo">
      </div>
    </div>

    <div class="hero-right">
      <div class="content-box">
        <h1 class="project-title">Miracle Box</h1>
        <h2 class="project-subtitle"> A Música Encontra o Código: Ambiente de Desenvolvimento Musical para Buzzers</h2>
        
        <p class="project-description">
          Explore a nossa DSL exclusiva <span class="highlight-code">.mrcb</span>. Crie composições, analise a árvore sintática, gerencie tabelas de símbolos e gere códigos otimizados para Arduino em um ecossistema integrado para hardware de áudio.
        </p>

        <a href="{{ url_for('view_musicas') }}" class="btn-start">
          Iniciar Projeto
          <svg class="btn-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5">
            <path d="M5 12h14M12 5l7 7-7 7"/>
          </svg>
        </a>
      </div>
    </div>

  </div>

</body>
</html>